
@{
    ViewBag.Title = "Statistics";
    Layout = "~/Views/Shared/AdminLayout.cshtml";
}
<link href="~/Content/Statistics/css/style.css" rel="stylesheet" />
<script src="~/Content/Statistics/js/Chart1.js"></script>
<link href="~/Content/Statistics/css/clndr.css" rel="stylesheet" />
<link href="~/Content/Statistics/css/jqvmap.css" rel="stylesheet" />

<head>
    <title>Statistics</title>
    <link href="~/Content/ratingScores.css" rel="stylesheet" />
    <style>
        .clearfix::after {
            content: "";
            clear: both;
            display: table;
        }
    </style>
</head>

<h2 style="margin-top:10px">İstatistikler</h2>
<!--Istatistik bilgi kartlari baslangic-->
<div class="list_of_members">

    <div style="margin-left: 20px; height: 125px; width: 300px; background-color: #3e7539; float: left; border-radius: 10px">
        <div style="font-size:30px">
            <p style="text-align:center;color:white;margin-bottom:10px">@ViewBag.nrOfCustomers</p>
            <p style="text-align:center;color:white">Kayıtlı Müşteri Sayısı</p>
        </div>
        <div class="clearfix"></div>
    </div>
    <div style="margin-left: 20px; height: 125px; width: 300px; background-color: #991263; float: left; border-radius: 10px ">
        <div style="font-size:30px">
            <p style="text-align:center;color:white;margin-bottom:10px">@ViewBag.nrOfSoldReservations</p>
            <p style="text-align:center;color:white">Satılan Paket Sayısı</p>
        </div>
        <div class="clearfix"></div>
    </div>
    <div style="margin-left: 20px; height: 125px; width: 300px; background-color: #5d3fb0; float: left; border-radius: 10px ">
        <div style="font-size:30px">
            <p style="text-align:center;color:white;margin-bottom:10px">@ViewBag.nrOfPackets</p>
            <p style="text-align:center;color:white">Mevcut Paket Sayısı</p>
        </div>
        <div class="clearfix"></div>
    </div>
    <div style="margin-left: 20px; height: 125px; width: 300px; background-color: #873d26; float: left; border-radius: 10px ">
        <div style="font-size:30px;">
            <p style="text-align:center;color:white;margin-bottom:10px">5/@ViewBag.rating7</p>
            <p style="text-align: center; color: white; max-width: 100%; max-height: 100%">Değerlendirme Puanı</p>
        </div>
        
    </div>
</div>
<div class="clearfix"></div>
<div class="container">
    <br />
    <hr />
    <span class="heading">Genel Değerlendirme Puanı</span>
    @if (ViewBag.rating7 == 5)
    {
        <span class="fa fa-star checked"></span>
        <span class="fa fa-star checked"></span>
        <span class="fa fa-star checked"></span>
        <span class="fa fa-star checked"></span>
        <span class="fa fa-star checked"></span>
    }
    else if (ViewBag.rating7 >= 4)
    {
        <span class="fa fa-star checked"></span>
        <span class="fa fa-star checked"></span>
        <span class="fa fa-star checked"></span>
        <span class="fa fa-star checked"></span>
        <span class="fa fa-star"></span>
    }
    else if (ViewBag.rating7 >= 3)
    {
        <span class="fa fa-star checked"></span>
        <span class="fa fa-star checked"></span>
        <span class="fa fa-star checked"></span>
        <span class="fa fa-star"></span>
        <span class="fa fa-star"></span>
    }
    else if (ViewBag.rating7 >= 2)
    {
        <span class="fa fa-star checked"></span>
        <span class="fa fa-star checked"></span>
        <span class="fa fa-star"></span>
        <span class="fa fa-star"></span>
        <span class="fa fa-star"></span>
    }
    else
    {
        <span class="fa fa-star checked"></span>
        <span class="fa fa-star"></span>
        <span class="fa fa-star"></span>
        <span class="fa fa-star"></span>
        <span class="fa fa-star"></span>
    }
    <p>Ortalama Puan: 5 üzerinden @ViewBag.rating7. Katılımcı sayısı: @ViewBag.nrOfCustomers.</p>
    <hr style="border:3px solid #f1f1f1">

    <label>1. Otelimizin konumu ve ulaşım imkanlarından ne derece memnun kaldınız ?</label> &nbsp; &nbsp;
    @if (ViewBag.rating1 == 5)
    {
        <span class="fa fa-star checked"></span>
        <span class="fa fa-star checked"></span>
        <span class="fa fa-star checked"></span>
        <span class="fa fa-star checked"></span>
        <span class="fa fa-star checked"></span>
        <span style="font-size:30px;margin-left:10px"><b>@ViewBag.rating1 Puan</b></span>
    }
    else if (ViewBag.rating1 >= 4)
    {
        <span class="fa fa-star checked"></span>
        <span class="fa fa-star checked"></span>
        <span class="fa fa-star checked"></span>
        <span class="fa fa-star checked"></span>
        <span style="font-size:30px;margin-left:10px"><b>@ViewBag.rating1 Puan</b></span>
    }
    else if (ViewBag.rating1 >= 3)
    {
        <span class="fa fa-star checked"></span>
        <span class="fa fa-star checked"></span>
        <span class="fa fa-star checked"></span>
        <span class="fa fa-star"></span>
        <span class="fa fa-star"></span>
        <span style="font-size:30px;margin-left:10px"><b>@ViewBag.rating1 Puan</b></span>
    }
    else if (ViewBag.rating1 >= 2)
    {
        <span class="fa fa-star checked"></span>
        <span class="fa fa-star checked"></span>
        <span class="fa fa-star"></span>
        <span class="fa fa-star"></span>
        <span style="font-size:30px;margin-left:10px"><b>@ViewBag.rating1 Puan</b></span>
    }
    else
    {
        <span class="fa fa-star checked"></span>
        <span class="fa fa-star"></span>
        <span class="fa fa-star"></span>
        <span class="fa fa-star"></span>
        <span class="fa fa-star"></span>
        <span style="font-size:30px;margin-left:10px"><b>@ViewBag.rating1 Puan</b></span>
    }
    <hr style="border:3px solid #f1f1f1">

    <label>2. Otel çalışanlarımızın hizmet kalitesinde ne derece memnun kaldınız?</label> &nbsp; &nbsp;
    @if (ViewBag.rating2 == 5)
    {
        <span class="fa fa-star checked"></span>
        <span class="fa fa-star checked"></span>
        <span class="fa fa-star checked"></span>
        <span class="fa fa-star checked"></span>
        <span class="fa fa-star checked"></span>
        <span style="font-size:30px;margin-left:10px"><b>@ViewBag.rating2 Puan</b></span>
    }
    else if (ViewBag.rating2 >= 4)
    {
        <span class="fa fa-star checked"></span>
        <span class="fa fa-star checked"></span>
        <span class="fa fa-star checked"></span>
        <span class="fa fa-star checked"></span>
        <span class="fa fa-star"></span>
        <span style="font-size:30px;margin-left:10px"><b>@ViewBag.rating2 Puan</b></span>
    }
    else if (ViewBag.rating2 >= 3)
    {
        <span class="fa fa-star checked"></span>
        <span class="fa fa-star checked"></span>
        <span class="fa fa-star checked"></span>
        <span class="fa fa-star"></span>
        <span class="fa fa-star"></span>
        <span style="font-size:30px;margin-left:10px"><b>@ViewBag.rating2 Puan</b></span>
    }
    else if (ViewBag.rating2 >= 2)
    {
        <span class="fa fa-star checked"></span>
        <span class="fa fa-star checked"></span>
        <span class="fa fa-star"></span>
        <span class="fa fa-star"></span>
        <span class="fa fa-star"></span>
        <span style="font-size:30px;margin-left:10px"><b>@ViewBag.rating2 Puan</b></span>
    }
    else
    {
        <span class="fa fa-star checked"></span>
        <span class="fa fa-star"></span>
        <span class="fa fa-star"></span>
        <span class="fa fa-star"></span>
        <span class="fa fa-star"></span>
        <span style="font-size:30px;margin-left:10px"><b>@ViewBag.rating2 Puan</b></span>
    }
    <hr style="border:3px solid #f1f1f1">

    <label>3. Açık büfe hizmetimiz ve çay saatlerimizden ne derece memnun kaldınız?</label> &nbsp; &nbsp;
    @if (ViewBag.rating3 == 5)
    {
        <span class="fa fa-star checked"></span>
        <span class="fa fa-star checked"></span>
        <span class="fa fa-star checked"></span>
        <span class="fa fa-star checked"></span>
        <span class="fa fa-star checked"></span>
        <span style="font-size:30px;margin-left:10px"><b>@ViewBag.rating3 Puan</b></span>
    }
    else if (ViewBag.rating3 >= 4)
    {
        <span class="fa fa-star checked"></span>
        <span class="fa fa-star checked"></span>
        <span class="fa fa-star checked"></span>
        <span class="fa fa-star checked"></span>
        <span class="fa fa-star"></span>
        <span style="font-size:30px;margin-left:10px"><b>@ViewBag.rating3 Puan</b></span>
    }
    else if (ViewBag.rating3 >= 3)
    {
        <span class="fa fa-star checked"></span>
        <span class="fa fa-star checked"></span>
        <span class="fa fa-star checked"></span>
        <span class="fa fa-star"></span>
        <span class="fa fa-star"></span>
        <span style="font-size:30px;margin-left:10px"><b>@ViewBag.rating3 Puan</b></span>
    }
    else if (ViewBag.rating3 >= 2)
    {
        <span class="fa fa-star checked"></span>
        <span class="fa fa-star checked"></span>
        <span class="fa fa-star"></span>
        <span class="fa fa-star"></span>
        <span class="fa fa-star"></span>
        <span style="font-size:30px;margin-left:10px"><b>@ViewBag.rating3 Puan</b></span>
    }
    else
    {
        <span class="fa fa-star checked"></span>
        <span class="fa fa-star"></span>
        <span class="fa fa-star"></span>
        <span class="fa fa-star"></span>
        <span class="fa fa-star"></span>
        <span style="font-size:30px;margin-left:10px"><b>@ViewBag.rating3 Puan</b></span>
    }
    <hr style="border:3px solid #f1f1f1">

    <label>4. Otelimizin temizlikk ve hijyeninden ne derece memnun kaldınız?</label> &nbsp; &nbsp;
    @if (ViewBag.rating4 == 5)
    {
        <span class="fa fa-star checked"></span>
        <span class="fa fa-star checked"></span>
        <span class="fa fa-star checked"></span>
        <span class="fa fa-star checked"></span>
        <span class="fa fa-star checked"></span>
        <span style="font-size:30px;margin-left:10px"><b>@ViewBag.rating4 Puan</b></span>
    }
    else if (ViewBag.rating4 >= 4)
    {
        <span class="fa fa-star checked"></span>
        <span class="fa fa-star checked"></span>
        <span class="fa fa-star checked"></span>
        <span class="fa fa-star checked"></span>
        <span class="fa fa-star"></span>
        <span style="font-size:30px;margin-left:10px"><b>@ViewBag.rating4 Puan</b></span>
    }
    else if (ViewBag.rating4 >= 3)
    {
        <span class="fa fa-star checked"></span>
        <span class="fa fa-star checked"></span>
        <span class="fa fa-star checked"></span>
        <span class="fa fa-star"></span>
        <span class="fa fa-star"></span>
        <span style="font-size:30px;margin-left:10px"><b>@ViewBag.rating4 Puan</b></span>
    }
    else if (ViewBag.rating4 >= 2)
    {
        <span class="fa fa-star checked"></span>
        <span class="fa fa-star checked"></span>
        <span class="fa fa-star"></span>
        <span class="fa fa-star"></span>
        <span class="fa fa-star"></span>
        <span style="font-size:30px;margin-left:10px"><b>@ViewBag.rating4 Puan</b></span>
    }
    else
    {
        <span class="fa fa-star checked"></span>
        <span class="fa fa-star"></span>
        <span class="fa fa-star"></span>
        <span class="fa fa-star"></span>
        <span class="fa fa-star"></span>
        <span style="font-size:30px;margin-left:10px"><b>@ViewBag.rating4 Puan</b></span>
    }
    <hr style="border:3px solid #f1f1f1">

    <label>5. Otelimizin sunduğu ek aktivitelerden ne derece memnun kaldınız?</label> &nbsp; &nbsp;
    @if (ViewBag.rating5 == 5)
    {
        <span class="fa fa-star checked"></span>
        <span class="fa fa-star checked"></span>
        <span class="fa fa-star checked"></span>
        <span class="fa fa-star checked"></span>
        <span class="fa fa-star checked"></span>
        <span style="font-size:30px;margin-left:10px"><b>@ViewBag.rating5 Puan</b></span>
    }
    else if (ViewBag.rating5 >= 4)
    {
        <span class="fa fa-star checked"></span>
        <span class="fa fa-star checked"></span>
        <span class="fa fa-star checked"></span>
        <span class="fa fa-star checked"></span>
        <span class="fa fa-star"></span>
        <span style="font-size:30px;margin-left:10px"><b>@ViewBag.rating5 Puan</b></span>
    }
    else if (ViewBag.rating5 >= 3)
    {
        <span class="fa fa-star checked"></span>
        <span class="fa fa-star checked"></span>
        <span class="fa fa-star checked"></span>
        <span class="fa fa-star"></span>
        <span class="fa fa-star"></span>
        <span style="font-size:30px;margin-left:10px"><b>@ViewBag.rating5 Puan</b></span>
    }
    else if (ViewBag.rating5 >= 2)
    {
        <span class="fa fa-star checked"></span>
        <span class="fa fa-star checked"></span>
        <span class="fa fa-star"></span>
        <span class="fa fa-star"></span>
        <span class="fa fa-star"></span>
        <span style="font-size:30px;margin-left:10px"><b>@ViewBag.rating5 Puan</b></span>
    }
    else
    {
        <span class="fa fa-star checked"></span>
        <span class="fa fa-star"></span>
        <span class="fa fa-star"></span>
        <span class="fa fa-star"></span>
        <span class="fa fa-star"></span>
        <span style="font-size:30px;margin-left:10px"><b>@ViewBag.rating5 Puan</b></span>
    }
    <hr style="border:3px solid #f1f1f1">

    <label>6. Yiyecek ve içecek kalitemizden ne derece memnun kaldınız?</label> &nbsp; &nbsp;
    @if (ViewBag.rating6 == 5)
    {
        <span class="fa fa-star checked"></span>
        <span class="fa fa-star checked"></span>
        <span class="fa fa-star checked"></span>
        <span class="fa fa-star checked"></span>
        <span class="fa fa-star checked"></span>
        <span style="font-size:30px;margin-left:10px"><b>@ViewBag.rating6 Puan</b></span>
    }
    else if (ViewBag.rating6 >= 4)
    {
        <span class="fa fa-star checked"></span>
        <span class="fa fa-star checked"></span>
        <span class="fa fa-star checked"></span>
        <span class="fa fa-star checked"></span>
        <span class="fa fa-star"></span>
        <span style="font-size:30px;margin-left:10px"><b>@ViewBag.rating6 Puan</b></span>
    }
    else if (ViewBag.rating6 >= 3)
    {
        <span class="fa fa-star checked"></span>
        <span class="fa fa-star checked"></span>
        <span class="fa fa-star checked"></span>
        <span class="fa fa-star"></span>
        <span class="fa fa-star"></span>
        <span style="font-size:30px;margin-left:10px"><b>@ViewBag.rating6 Puan</b></span>
    }
    else if (ViewBag.rating6 >= 2)
    {
        <span class="fa fa-star checked"></span>
        <span class="fa fa-star checked"></span>
        <span class="fa fa-star"></span>
        <span class="fa fa-star"></span>
        <span class="fa fa-star"></span>
        <span style="font-size:30px;margin-left:10px"><b>@ViewBag.rating6 Puan</b></span>
    }
    else
    {
        <span class="fa fa-star checked"></span>
        <span class="fa fa-star"></span>
        <span class="fa fa-star"></span>
        <span class="fa fa-star"></span>
        <span class="fa fa-star"></span>
        <span style="font-size:30px;margin-left:10px"><b>@ViewBag.rating6 Puan</b></span>
    }
</div>
<br />
<br />
<!--Istatistik bilgi kartlari bitis-->
