@using PagedList
@using PagedList.Mvc
@model IEnumerable<EntityLayer.Concrete.Reservation>
@{
    ViewBag.Title = "AdminReservationList";
    Layout = "~/Views/Shared/AdminLayout.cshtml";
}

<h2>Tatil Paketleri</h2>
@using (Html.BeginForm("AdminReservationList", "Hotel", FormMethod.Get, new { @autocomplete = "off" }))
{
    <div class="container">
        <div style="margin-top:15px; margin-bottom:15px; margin:auto; margin-top:15px; width:50%">
            <p>Başlangıç Tarihi</p>
            <input style="width:60%;float:left;margin-bottom:10px;font-size:15px" class="form-control startDate" type="date" id="startDate" oncl name="startdate" />
            <input class="btn btn-success" style="font-size: 15px;margin-left:15px" type="Submit" value="Arama yap">
            <a href="/Hotel/AdminReservationList" class="btn btn-info" style="margin-left:7px">Sıfırla</a>
        </div>
    </div>
}

<table class="table table-bordered">
    <tr>
        <th>ID</th>
        <th>İsim</th>
        <th>Bilgi</th>
        <th>Başlangıç Tarihi</th>
        <th>Bitiş Tarihi</th>
        <th>Paket Sayısı</th>
        <th>Satılan Paket S.</th>
        <th>Ücret</th>
        <th>Sil</th>
        <th>Güncelle</th>
    </tr>
    @foreach (var item in Model)
    {
        <tr>
            <td>@item.ReservationId</td>
            <td>@item.ReservationName</td>
            <td id="tableDataOverFlow">@item.ReservationInfo</td>
            <td>@item.StartDate.ToString("dd.MM.yyyy")</td>
            <td>@item.EndDate.ToString("dd.MM.yyyy")</td>
            <td>@item.ReservationNr</td>
            <td>@item.SoldReservationNr</td>
            <td>@item.ReservationPrice</td>
            <td><a href="/Hotel/DeleteReservation/@item.ReservationId" class="btn btn-danger">Sil</a></td>
            <td><a href="/Hotel/UpdateReservation/@item.ReservationId" class="btn btn-success">Güncelle</a></td>
        </tr>
    }


</table>
<a href="/Hotel/AddNewReservation" class="btn btn-primary">Yeni Tatil Paketi Ekle</a>
@Html.PagedListPager((IPagedList)Model, page => Url.Action("AdminReservationList", new { page }))



