@model EntityLayer.Concrete.Activity
@{
    ViewBag.Title = "UpdateActivity";
    Layout = "~/Views/Shared/AdminLayout.cshtml";
}
<a class="btn btn-danger" style="margin-bottom:10px" href="/Hotel/AdminActivityList">Geri Dön</a>
<form class="form-group" method="post">
    @Html.HiddenFor(x => x.ActivityId)
    @Html.Label("Aktivite İsmi")
    @Html.TextBoxFor(x => x.ActivityName, new { @class = "form-control", @onchange = "this.value = trim(this.value)", @required = "required" })
    <br />
    @Html.Label("Aktivite Bilgisi")
    @Html.TextAreaFor(x => x.ActivityInfo, 5, 20, new { @class = "form-control", @onchange = "this.value = trim(this.value)", @required = "required" })
    <br />
    @Html.Label("Aktivite Ücreti")
    @Html.TextBoxFor(x => x.ActivityPrice, new { @class = "form-control", @oninput = "this.value = trim(this.value)", @onkeypress = "return isNumberKey(event)", @required = "required" })
    <br />
    <button class="btn btn-primary">Kaydet</button>
</form>

