@using PagedList
@using PagedList.Mvc
@model IEnumerable<EntityLayer.Concrete.Blog>
@{
    ViewBag.Title = "AdminBlogList";
    Layout = "~/Views/Shared/AdminLayout.cshtml";
}

<h2>Blog listesi</h2>
@using (Html.BeginForm("AdminBlogList", "Blog", FormMethod.Get))
{
    <div class="container">
        <div style="margin-top:15px; margin-bottom:15px; margin:auto; margin-top:15px; width:50%">
            @Html.TextBox("arama", "", new { @class = "form-control", @style = "width:60%;float:left;margin-bottom:10px", @placeholder = "Blog ismi ara...", @maxlength = "30" })
            <input class="btn btn-success" style="margin-left:15px; width:20%" type="submit" value="Arama yap">
            <a href="/Blog/AdminBlogList" class="btn btn-info" style="margin-left:7px">Sıfırla</a>
        </div>
    </div>
}

<table class="table table-bordered">
    <tr>
        <th>ID</th>
        <th>Başlık</th>
        <th>Kategori</th>
        <th>Tarih</th>
        <th>Sil</th>
        <th>Güncelle</th>
        <th>Detaylar</th>
    </tr>
    @foreach (var item in Model)
    {
        <tr>
            <td>@item.BlogId</td>
            <td>@item.BlogTitle</td>
            <td>@item.Category.CategoryName</td>
            <td>@item.BlogDate.ToShortDateString()</td>
            <td><a href="/Blog/DeleteBlog/@item.BlogId" class="btn btn-danger">Sil</a></td>
            <td><a href="/Blog/UpdateBlog/@item.BlogId" class="btn btn-success">Güncelle</a></td>
            <td><a href="/Blog/BlogDetails/@item.BlogId" class="btn btn-warning" target="_blank">Detaylar</a></td>
        </tr>
    }


</table>
@Html.PagedListPager((IPagedList)Model, page => Url.Action("AdminBlogList", new { page }))
<a href="/Blog/AddNewBlog" class="btn btn-primary">Yeni Blog Ekle</a>